* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Book Antiqua;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: white;
  background: rgba(167, 115, 48, 0.726);
}

::selection {
  color: white;
  background: rgba(167, 115, 48, 0.726);
}

html,
body {
  position: relative;
  height: 100%;
}

.line_1,
.line_2 {
  margin: 50px auto;
  text-align: center;
  font-size: 40px;
  max-width: 610px;
  position: relative;
}

.line_1:before {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.line_1:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.line_2 {
  max-width: 1150px;
  margin-bottom: 40px !important;
}

.line_2:before {
  content: "";
  display: block;
  width: 310px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.line_2:after {
  content: "";
  display: block;
  width: 310px;
  height: 1px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.bg_img {
  background-image: url(../images/home_img1.png);
  padding-bottom: 73vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  border: 2px solid black;
  display: inline-table;
}

.down {
  -ms-flex-direction: column;
      flex-direction: column;
  display: none;
}

nav .down a,
nav .down li {
  font-size: 20px;
  padding: 3px 1px;
  margin: 0;
}

.show:hover .down {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: relative;
  font-size: 25px;
}

.marg_about {
  margin-bottom: 40px;
}

.margin_rig_lef {
  margin: 0 400px;
}

.marley {
  height: 40vh;
  margin-bottom: 10px;
}

.about_me {
  font-family: 'lato';
  text-align: center;
  padding-bottom: 30px;
  width: 50vw;
  margin: auto;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.about_me a {
  text-decoration: none;
  color: black;
  padding: 3px 0;
  display: inline-block;
}

.about_me a:hover {
  font-weight: bold;
}

.contact a {
  text-decoration: none;
  color: white;
}

.about h1,
#about h1 {
  font-family: "Book Antiqua";
  display: block;
  text-align: center;
  font-size: 50px;
  margin: 120px auto 0;
  font-weight: normal;
  letter-spacing: 3.33px;
}

#about h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.about p,
#about p {
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

#about p:nth-of-type(2),
#about p:nth-of-type(8) {
  font-family: "Book Antiqua";
  font-size: 20px;
  font-weight: bold;
  padding: 80px 0 40px;
}

.about p:nth-of-type(2) {
  font-family: 'Yesteryear', cursive;
  font-size: 35px;
}

#about p:nth-of-type(8) {
  padding: 60px 0 30px;
}

#about p:last-of-type {
  padding: 50px 0 100px;
}

.about_border {
  border: 2px solid grey;
  padding: 15px;
}

#about .yesteryear {
  font-family: 'Yesteryear', cursive !important;
  font-size: 33px !important;
  letter-spacing: 1.67px;
  padding: 0;
  font-weight: normal !important;
}

.about_homepage p {
  font-weight: normal !important;
  font-family: "lato" !important;
  text-align: center;
}

.about_homepage h3 {
  margin: 50px auto 0;
  text-align: center;
  font-size: 23px;
}

.about_homepage h3:nth-of-type(2) {
  margin: 60px auto 30px;
}

#about .about_homepage p {
  padding: 5px 0;
  font-weight: bold;
  width: 60vw;
  margin: 0 auto;
  font-size: 16px;
}

.introduction {
  text-transform: uppercase;
  letter-spacing: .4px;
  word-spacing: 10px;
  font-size: 20px !important;
  font-variant: all-small-caps;
}

.introduction span {
  font-variant: normal;
}

#map {
  height: auto;
  width: 100%;
}

nav img {
  float: left;
  padding-right: 60px;
  padding-top: 10px;
  width: 179px;
}

.additional {
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
}

nav {
  margin: 0 120px;
  padding-top: 20px;
}

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 60px 110px 50px 50px;
}

nav a {
  text-decoration: none;
  color: black;
  letter-spacing: -1px;
  padding: 2px 5px;
  border: none;
}

ul a:hover {
  border-bottom: 2px solid black;
}

.active a:hover {
  border-bottom: none;
}

nav li {
  padding: 5px;
  font-size: 25px;
  margin: 0 5px;
}

nav p {
  font-size: 40px;
}

.logo {
  width: 26vw;
  -ms-flex-direction: column;
      flex-direction: column;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  text-align: center;
  font-size: 7rem;
  background-color: #444444;
  border-radius: 50%;
  width: 50%;
  color: white;
  margin: 45px auto 0;
}

.icons {
  text-align: right;
}

.icons i {
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px 15px 0;
  width: 55px;
  text-align: center;
}

.icons .fa-facebook-f {
  margin: 10px 0 0 10px;
  transition: .6s;
}

.icons .fa-instagram {
  transition: .6s;
}

.icons .fa-facebook-f:hover {
  background-color: royalblue;
  color: white;
  border-color: white;
  transform: scale(1.15);
}

.icons .fa-instagram:hover {
  color: #a41fe2;
  background: white;
  border-color: #a41fe2;
  transform: scale(1.15);
}

.space_img {
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}

.high {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  font-weight: normal;
}

.reservation_btn {
  float: right;
  background: white;
  border: 2px solid grey;
  padding: 5px;
  font-size: 13px;
  outline: 0;
}

.reservation_btn:hover {
  background: black;
  border: 2px solid grey;
  color: white;
}

/*header*/
.welcome {
  position: relative;
  margin: 80px auto 0;
  height: 100vh;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.welcome-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome h1 {
  font-family: "La Belle Aurore", cursive;
  font-size: 70px;
  margin-top: 80px;
  color: #9595ea;
  text-transform: capitalize;
  text-shadow: 0px 0px 1px #222;
}

.welcome h1 ~ h1 {
  margin-top: -50px;
}

.welcome h2 {
  font-size: 40px;
  margin: 40px 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
}

.welcome p {
  font-size: 32px;
  color: #bfbff2;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .welcome {
    margin-top: 0;
    height: 100vh;
  }
  .welcome-wrap {
    height: 100vh;
  }
  .welcome h1 {
    margin-top: 100px;
    font-size: 60px;
  }
  .welcome h1 ~ h1 {
    margin-top: -40px;
  }
  .welcome h2 {
    margin: 30px 30px 60px;
    font-size: 30px;
  }
  .welcome p {
    font-size: 26px;
  }
}

@media (max-width: 825px) and (orientation: landscape) {
  .welcome h1 {
    margin-top: 15px;
    font-size: 40px;
  }
  .welcome h1 ~ h1 {
    margin-top: -30px;
  }
  .welcome h2 {
    margin: 20px;
    font-size: 24px;
  }
  .welcome p {
    font-size: 20px;
  }
}

@media (max-width: 540px) and (orientation: landscape) {
  .welcome h1 {
    font-size: 32px;
  }
  .welcome h1 ~ h1 {
    margin-top: -24px;
  }
  .welcome h2 {
    font-size: 20px;
  }
  .welcome p {
    font-size: 18px;
  }
}

@media (max-width: 420px) and (orientation: portrait) {
  .welcome {
    background-image: url("../images/background.jpg");
  }
  .welcome h1 {
    font-size: 40px;
  }
  .welcome h1 ~ h1 {
    margin-top: -30px;
  }
  .welcome h2 {
    margin-top: 30px;
    font-size: 24px;
  }
  .welcome p {
    margin-top: 50px;
    font-size: 20px;
  }
}

/*about us*/
.about-us {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1280px;
  margin: 0 auto;
  height: 500px;
  display: -ms-flexbox;
  display: flex;
}

.about-us div.text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.about-us div.text h1 {
  margin: 80px 50px 50px;
}

.about-us div.text p,
.about-us div.image {
  margin: 50px;
}

.about-us div.text p {
  line-height: 150%;
  text-align: justify;
}

.about-us .image {
  -ms-flex-positive: 1;
      flex-grow: 1;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .about-us div.text p {
    margin: 30px 50px;
  }
}

@media (max-width: 940px) {
  .cards {
    margin: 10px;
  }
}

@media (max-width: 820px) and (orientation: landscape) {
  .about-us {
    height: 100vh;
  }
  .about-us div.text h1 {
    margin: 50px;
  }
  .about-us div.text p {
    margin: 20px 20px 20px 50px;
  }
}

@media (max-width: 670px) and (orientation: landscape) {
  .about-us div.text h1,
  .about-us div.text p,
  .about-us div.image {
    margin: 20px;
  }
  .about-us div.text h1 {
    font-size: 20px;
  }
  .about-us div.text p {
    line-height: 150%;
    font-size: 14px;
  }
}

@media (max-width: 820px) and (orientation: portrait) {
  .about-us {
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }
  .about-us div.text {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  .about-us div.text h1 {
    text-align: center;
    margin: 50px 50px;
  }
  .about-us div.image {
    position: relative;
    top: 0;
    left: 50%;
    margin: 40px 0;
    transform: translateX(-50%);
    width: 400px;
  }
}

@media (max-width: 420px) and (orientation: portrait) {
  .about-us {
    height: 150vh;
  }
  .about-us div.text h1 {
    margin: 30px;
    font-size: 16px;
  }
  .about-us div.text p {
    margin: 30px;
    line-height: 120%;
    font-size: 12px;
  }
  .about-us div.image {
    width: 200px;
  }
}

/*banner*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100vh;
  animation: moveImage 4s linear infinite;
}

.banner-image-mini img {
  display: none;
}

.banner-text h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  padding: 20px;
  animation: moveText 4s linear infinite;
}

div.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 44px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.8));
}

.arrow-left {
  left: 0;
  margin-left: 50px;
}

.arrow-right {
  right: 0;
  margin-right: 50px;
}

@keyframes moveImage {
  0% {
    opacity: 0.2;
  }
  2% {
    opacity: 0.2;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes moveText {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .banner {
    height: 100vh;
  }
  .banner-text h1 {
    font-size: 28px;
  }
}

@media (max-width: 870px) {
  .banner-text h1 {
    font-size: 26px;
  }
  .banner-image img {
    display: none;
  }
  .banner-image-mini img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    animation: moveImage 4s linear infinite;
  }
  .banner-text h1 {
    font-size: 36px;
  }
}

@media (max-width: 640px) {
  div.arrow {
    font-size: 34px;
  }
  .arrow-left {
    margin-left: 20px;
  }
  .arrow-right {
    margin-right: 20px;
  }
  .banner-text h1 {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .banner-text h1 {
    padding: 30px 15px;
    font-size: 22px;
  }
}

/*gallery*/
.gallery {
  max-width: 1280px;
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
}

.plugin {
  margin: 60px 0;
}

.gallery h1 {
  text-align: center;
  padding: 80px 0 20px;
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: uppercase;
}

.gallery .album {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery .album img {
  margin: 30px 15px 5px;
  height: 350px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .album p {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.gallery .album a.btn-gallery {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 10px 20px;
  border-style: none;
  background-color: #9595ea;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.gallery .album a.btn-gallery:hover {
  background-image: linear-gradient(#9595ea, #bab6ff);
}

.gallery .album .caption {
  margin: -10px 15px 0;
  background-color: #eee;
}

@media (max-width: 425px) {
  .gallery h1 {
    padding: 30px 60px 0;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
}

/*contact*/
.contact {
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  color: #fff;
  position: relative;
  z-index: -10;
}

.contact .information {
  font-family: "Lato";
  position: relative;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  background-image: url("../images/salonik.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact .information .wrap {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 65vh;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact .information h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding: 40px 20px 20px;
  color: white;
  letter-spacing: 2px;
}

.contact .information .info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.contact .information .info .contact-icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  font-size: 30px;
  color: #9595ea;
}

.contact .information .info .text {
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-size: 16px;
}

.contact .information .info .text p.title {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text p {
  font-size: 18px;
  font-weight: 100;
}

.contact .map {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  background-color: #555;
  position: relative;
  left: 0;
  top: 0;
}

.contact .map div#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
}

@media (max-width: 1024px) {
  .contact .information .wrap {
    padding: 0 15px;
  }
  .contact .information h1 {
    font-size: 24px;
  }
  .contact .information .info .contact-icon {
    font-size: 34px;
  }
  .contact .information .info .text {
    font-size: 18px;
  }
  .contact .information .info .text p.title {
    font-size: 20px;
  }
}

@media (max-width: 870px) {
  .contact {
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }
  .contact .information .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .contact .information .wrap {
    height: 70vh;
  }
  .contact .map {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .contact .map div#map {
    height: 30vh;
  }
}

@media (max-width: 870px) and (orientation: landscape) {
  .contact {
    height: 200vh;
  }
  .contact .map {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .contact .map div#map {
    height: 100vh;
  }
  .contact .information .wrap {
    height: 100vh;
  }
  .contact .information h1 {
    padding: 15px;
    font-size: 30px;
  }
  .contact .information .info .contact-icon,
  .contact .information .info .text p.title {
    font-size: 18px;
  }
  .contact .information .info .text {
    font-size: 14px;
  }
}

@media (max-width: 670px) and (orientation: landscape) {
  .contact .information h1 {
    padding: 10px;
    font-size: 26px;
  }
  .contact .information .info .contact-icon {
    font-size: 14px;
  }
  .contact .information .info .text {
    font-size: 12px;
  }
  .contact .information .info .text p.title {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .contact .information h1 {
    font-size: 26px;
  }
  .contact .information .info .contact-icon {
    font-size: 40px;
  }
  .contact .information .info .text {
    font-size: 14px;
  }
  .contact .information .info .text p.title {
    font-size: 16px;
  }
}

@media (max-width: 425px) and (orientation: portrait) {
  .contact {
    height: 170vh;
  }
  .contact .map {
    -ms-flex-preferred-size: 70vh;
    flex-basis: 70vh;
  }
  .contact .map div#map {
    height: 70vh;
  }
  .contact .information .wrap {
    height: 100vh;
  }
  .contact .information h1 {
    padding: 20px 50px;
    font-size: 20px;
  }
  .contact .information .info .contact-icon,
  .contact .information .info .text p.title {
    font-size: 16px;
  }
  .contact .information .info .text {
    font-size: 12px;
  }
}

footer {
  background-color: rgba(13, 13, 13, 0.9);
  text-align: center;
}

.footer-fix {
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer p {
  padding: 10px;
  font-size: 15px;
  color: white;
}

@media (max-width: 825px) {
  footer p {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  footer p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */