* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    //margin: 20px 120px 0;
    font-family: Book Antiqua;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

::selection {
    color: white;
    background: rgba(167, 115, 48, 0.726);
    //background: goldenrod;
}

html,
body {
    position: relative;
    height: 100%;
}

.line_1,
.line_2 {
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
    max-width: 610px;
    position: relative;
}

.line_1:before {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.line_1:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.line_2 {
    max-width: 1150px;
    margin-bottom: 40px !important;
}

.line_2:before {
    content: "";
    display: block;
    width: 310px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.line_2:after {
    content: "";
    display: block;
    width: 310px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.bg_img {
    background-image: url(../images/home_img1.png);
    padding-bottom: 73vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    border: 2px solid black;
    display: inline-table;
}

.down {
    flex-direction: column;
    display: none;
}

nav .down a,
nav .down li {
    font-size: 20px;
    padding: 3px 1px;
    margin: 0;
}

.show:hover .down {
    display: flex;
    padding: 0;
    position: relative;
    font-size: 25px;
}

.marg_about {
    margin-bottom: 40px;
}

.margin_rig_lef {
    margin: 0 400px;
}

.marley {
    height: 40vh;
    margin-bottom: 10px;
}

.about_me {
    font-family: 'lato';
    text-align: center;
    padding-bottom: 30px;
    width: 50vw;
    margin: auto;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.about_me a {
    text-decoration: none;
    color: black;
    padding: 3px 0;
    display: inline-block;
}

.about_me a:hover {
    font-weight: bold;
}

.contact a {
    text-decoration: none;
    color: white;
}

.about h1,
#about h1 {
    font-family: "Book Antiqua";
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 120px auto 0;
    font-weight: normal;
    letter-spacing: 3.33px;
}

#about h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.about p,
#about p {
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

#about p:nth-of-type(2),
#about p:nth-of-type(8) {
    font-family: "Book Antiqua";
    font-size: 20px;
    font-weight: bold;
    padding: 80px 0 40px;
}

.about p:nth-of-type(2) {
    font-family: 'Yesteryear', cursive;
    font-size: 35px;
}

#about p:nth-of-type(8) {
    padding: 60px 0 30px;
}

#about p:last-of-type {
    padding: 50px 0 100px;
}

.about_border {
    border: 2px solid grey;
    padding: 15px;
}

#about .yesteryear {
    font-family: 'Yesteryear', cursive !important;
    font-size: 33px !important;
    letter-spacing: 1.67px;
    padding: 0;
    font-weight: normal !important;
}

.about_homepage p {
    font-weight: normal !important;
    font-family: "lato" !important;
    text-align: center;
    //word-spacing: 7px;
    //letter-spacing: 1px;
}

.about_homepage h3 {
    margin: 50px auto 0;
    text-align: center;
    font-size: 23px;
}

.about_homepage h3:nth-of-type(2) {
    margin: 60px auto 30px;
}

#about .about_homepage p {
    padding: 5px 0;
    font-weight: bold;
    width: 60vw;
    margin: 0 auto;
    font-size: 16px;
}

.introduction {
    text-transform: uppercase;
    letter-spacing: .4px;
    word-spacing: 10px;
    font-size: 20px !important;
    font-variant: all-small-caps;
}

.introduction span {
    font-variant: normal;
}

#map {
    height: auto;
    width: 100%;
}

nav img {
    float: left;
    padding-right: 60px;
    padding-top: 10px;
    width: 179px;
}

.additional {
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
}

nav {
    margin: 0 120px;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 60px 110px 50px 50px;
}

nav a {
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    padding: 2px 5px;
    border: none;
}

ul a:hover {
    border-bottom: 2px solid black;
}

.active a:hover {
    border-bottom: none;
}

nav li {
    padding: 5px;
    font-size: 25px;
    margin: 0 5px;
}

nav p {
    font-size: 40px;
}

.logo {
    width: 26vw;
    flex-direction: column;
    display: flex;
}

.icon {
    text-align: center;
    font-size: 7rem; //110px
    background-color: #444444;
    border-radius: 50%;
    width: 50%;
    color: white;
    margin: 45px auto 0;
}

.icons {
    text-align: right;
}

.icons i {
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px 15px 0;
    width: 55px;
    text-align: center;
}

.icons .fa-facebook-f {
    margin: 10px 0 0 10px;
    transition: .6s;
}

.icons .fa-instagram {
    transition: .6s;
}

.icons .fa-facebook-f:hover {
    background-color: royalblue;
    color: white;
    border-color: white;
    transform: scale(1.15)
}

.icons .fa-instagram:hover {
    color: rgb(164, 31, 226);
    background: white;
    border-color: rgb(164, 31, 226);
    transform: scale(1.15);
}

.space_img {
    border-bottom: 2px solid black;
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
}

.high {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    font-weight: normal;
}

.reservation_btn {
    float: right;
    background: white;
    border: 2px solid grey;
    padding: 5px;
    font-size: 13px;
    outline: 0;
}

.reservation_btn:hover {
    background: black;
    border: 2px solid grey;
    color: white;
}

//  KONTAKT I MAPA - HUBERT
@media (max-width: 940px) {
    .cards {
        margin: 10px;
    }
}


/*contact*/

.contact {
    display: flex;
    height: 65vh;
    color: #fff;
    position: relative;
    z-index: -10;
}

.contact .information {
    font-family: "Lato";
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url("../images/salonik.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact .information .wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 65vh;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.contact .information h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    padding: 40px 20px 20px;
    color: white;
    letter-spacing: 2px;
}

.contact .information .info {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.contact .information .info .contact-icon {
    flex-basis: 20%;
    text-align: center;
    font-size: 30px;
    color: #9595ea;
}

.contact .information .info .text {
    flex-grow: 1;
    font-size: 16px;
}

.contact .information .info .text p.title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text p {
    font-size: 18px;
    font-weight: 100;
}

.contact .map {
    flex-basis: 60%;
    background-color: #555;
    position: relative;
    left: 0;
    top: 0;
}

.contact .map div#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
}

@media (max-width: 1024px) {
    .contact .information .wrap {
        padding: 0 15px;
    }
    .contact .information h1 {
        font-size: 24px;
    }
    .contact .information .info .contact-icon {
        font-size: 34px;
    }
    .contact .information .info .text {
        font-size: 18px;
    }
    .contact .information .info .text p.title {
        font-size: 20px;
    }
    .about_me {
        width: 100%;
    }
    .about_me a {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 870px) {
    .contact {
        flex-direction: column;
        height: 100vh;
    }
    .contact .information .info {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact .information .wrap {
        height: 70vh;
    }
    .contact .map {
        flex-basis: 30%;
    }
    .contact .map div#map {
        height: 30vh;
    }
}

@media (max-width: 870px) and (orientation: landscape) {
    .contact {
        height: 200vh;
    }
    .contact .map {
        flex-basis: 50%;
    }
    .contact .map div#map {
        height: 100vh;
    }
    .contact .information .wrap {
        height: 100vh;
    }
    .contact .information h1 {
        padding: 15px;
        font-size: 30px;
    }
    .contact .information .info .contact-icon,
    .contact .information .info .text p.title {
        font-size: 18px;
    }
    .contact .information .info .text {
        font-size: 14px;
    }
}

@media (max-width: 670px) and (orientation: landscape) {
    .contact .information h1 {
        padding: 10px;
        font-size: 26px;
    }
    .contact .information .info .contact-icon {
        font-size: 14px;
    }
    .contact .information .info .text {
        font-size: 12px;
    }
    .contact .information .info .text p.title {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .contact .information h1 {
        font-size: 26px;
    }
    .contact .information .info .contact-icon {
        font-size: 40px;
    }
    .contact .information .info .text {
        font-size: 14px;
    }
    .contact .information .info .text p.title {
        font-size: 16px;
    }
}

@media (max-width: 425px) and (orientation: portrait) {
    .contact {
        height: 170vh;
    }
    .contact .map {
        flex-basis: 70vh;
    }
    .contact .map div#map {
        height: 70vh;
    }
    .contact .information .wrap {
        height: 100vh;
    }
    .contact .information h1 {
        padding: 20px 50px;
        font-size: 20px;
    }
    .contact .information .info .contact-icon,
    .contact .information .info .text p.title {
        font-size: 16px;
    }
    .contact .information .info .text {
        font-size: 12px;
    }
}

footer {
    background-color: rgba(13, 13, 13, 0.9);
    text-align: center;
}

.footer-fix {
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer p {
    padding: 10px;
    font-size: 15px;
    color: white;
}

@media (max-width: 825px) {
    footer p {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    footer p {
        font-size: 16px;
    }
}